# 01.  파이썬 기초

* 싸이그래머 / 어바웃 파이썬
* 김무성

# 차례

* 추천 사이트
* 파이썬 기초 [1]
* 자료 구조와 순차 자료형 [1]
* 함수 [1]
* 클래스 [2, 3]
* 함수형 프로그래밍[4, 5]

# 추천 사이트

* 점프 투 파이썬 - https://wikidocs.net/book/1
* python | learn x in y minutes - https://learnxinyminutes.com/docs/python3/
* ipython 사용법 - http://nbviewer.ipython.org/gist/irobii/014b8aa3574090a0d04a
* 파이썬 조각코드 모음 - http://coreapython.hosting.paran.com/howto/sebsauvage_net-%20Snyppets%20-%20Python%20snippets.htm
* (게으른 평과 관련) python / 조건부 - http://code.i-harness.com/ko/docs/python/457

# 파이썬 기초

파이썬 인터프리터 

시멘틱
* 들여쓰기
* 모든 것은 객체
* 주석
* 함수와 객체 메서드 호출
* 변수와 참조에 의한 전달
* 동적 참조와 강한 타입
* 속성과 메서드
* 덕 타이핑
* 모듈 import
* 이항연산자와 비교문
* 평가 방식
* 뮤터블, 이뮤터블 객체

스칼라형<br>

흐름 제어

## 파이썬 인터프리터

* 파이썬은 인터프리터 언어 (한 번에 하나의 명령어만 실행)
* 데이터 분석가들은 기본 인터프리터 보다 ipython을 사용하는 경향(그런데 이것도 점점 jupyther notebook 으로 이동 중)

## 시멘틱

### 들여쓰기

```python
for x in array :
    if x < pivot :
        less.append(x)
    else :
        qreater.append(x)
```

```python
a = 5; b = 6; c = 7;  # 한 줄에 문장이 여럿일 때는 구분하기 위해 ;을 쓴다. 하지만 파이썬에서는 가독성 때문에 권하지 않는다.
```

### 모든 것은 객체

객체 모델의 일관성은 파이썬의 중요한 특징. 모든 숫자, 문자열, 자료 구조, 함수, 클래스, 모듈 등은 파이썬 인터프리터에서 파이썬 객체로 저장된다. 함수마저 하나의 객체로 간주한다.

### 주석

In [15]:
# 이것이 주석이다

### 함수와 객체 메서드 호출

```python
# 함수 호출
result = f(x, y, z)
g()

# 메서드 - 객체가 포함하고 있는 함수
obj.some_method(x, y, z)

# 함수는 순서별(일반) 인자와 키워드 인자를 동시에 받을 수 있다.
result = f(a, b, c, d=5, e='foo')
```

### 변수와 참조에 의한 전달

In [5]:
a = [1, 2, 3]
print(a)

b = a

a.append(4)

print(b)

[1, 2, 3]
[1, 2, 3, 4]

<img src='./01_figures/01_fig.a.1.png'/>

In [1]:
def append_element(some_list, element) :
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

### 동적 참조와 강한 타입

In [7]:
a = 5
type(a)

int

In [8]:
a = 'foo'
type(a)

str

In [9]:
'5' + 5  # 파이썬은 자료형이 없는 언어가 아니다. 묵시적 변환이 일어날 뿐. 다음은 묵시적 변환 실패시의 에러를 보여준다.

TypeError: Can't convert 'int' object to str implicitly

### 속성과 메서드

In [16]:
a = 'foo'
a # .을 찍고 탭키를 누르면 아래 그림과 같이 속성과 메서드들이 선택할 수 있게 나타난다.

'foo'

<img src='./01_figures/01_fig.a.3.png'/>

### 덕 타이핑

덕 타이핑 - http://ko.wikipedia.org/wiki/덕_타이핑

In [17]:
def isiterable(obj) :
    try :
        iter(obj)
        return True
    except TypeError : # not interable
        return False

In [18]:
isiterable('a string')

True

In [19]:
isiterable([1, 2, 3])

True

In [20]:
isiterable(5)

False

```python
# 순차적 자료구조라면, 객체가 리스트인지 검사해서 그렇지 않은 경우 인자를 변환해줄 수 있다.
if not isinstance(x, list) and isiterable(x) :
    x = list(x)
```

### 모듈 import

In [21]:
# 파이썬에서 모듈은 다른 .py 파일에서 추가해서 사용할 수 있는 함수와 변수 선언을 담고 있는 .py 파일이다. 
# 다음과 같은 모듈을 가지고 있다고 가정하자.

In [23]:
%ls some_module.py

ls: cannot access some_module.py: No such file or directory

In [24]:
%%writefile some_module.py

### some_module.py
PI = 3.14159

def f(x) : 
    return 3.14159

def g(a, b) : 
    return a+b

Writing some_module.py

In [25]:
%ls some_module.py

some_module.py

In [27]:
import some_module
result = some_module.f(5)
pi = some_module.PI
print(result)
print(pi)

3.14159
3.14159

In [29]:
from some_module import f, g, PI
result = g(5, PI)
print(result)

8.14159

In [30]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)
print(r1)
print(r2)

3.14159
9.14159

### 이항연산자와 비교문

<img src='./01_figures/01_tbl.a.1.1.png'/>
<img src='./01_figures/01_tbl.a.1.2.png'/>

In [31]:
5 - 7

-2

In [32]:
12 + 21.5

33.5

In [33]:
5 <= 2

False

In [34]:
a = [1, 2, 3]
b = a
c = list(a)

In [35]:
a is b

True

In [36]:
a is not c

True

In [37]:
a is c

False

In [38]:
# is 와 ==는 결과가 다르다. is는 두 참조 변수가 같은 객체를 가리키고 있는지 검사할 때 쓴다.
a == c

True

### 평가 방식

In [40]:
# 파이썬은 즉시 수행된다. 게으른 평가(lazy evaluation) 방식이 아니라 문장이 검사되고 나면 즉시 계산이 수행된다.
# (이터레이터와 제너레이터를 이용해서 게으른 평가 방식을 구현할 수는 있다.)
# print_me 은 절대로 실행되지 않는다. 
# 파이썬은 0 만나면 전체 표현식을 False로 결정할 수 있기 때문.
def print_me():
    rint('I am here!')

0 and print_me()

0

### 뮤터블, 이뮤터블 객체

In [43]:
# 리스트는 값을 바꿀 수 있는 자료형이다. 
a_list = ['foo', 2, [4, 5]]
print(a_list)
a_list[2] = (3,4)
print(a_list)

['foo', 2, [4, 5]]
['foo', 2, (3, 4)]

In [44]:
a_tuple = (3, 5, (4, 5))
print(a_tuple)
a_tuple[1] = 'four'
print(a_tuple)  # 튜플은 이뮤터블(값을 바꿀수 없는) 객체이므로 에러가 난다.

(3, 5, (4, 5))

TypeError: 'tuple' object does not support item assignment

## 스칼라형

* 숫자 자료형
* 문자열
* 불리언
* 형변환
* None
* 날짜와 시간

<img src='./01_figures/01_tbl.a.2.png'/>

### 숫자 자료형

In [45]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [46]:
fval = 7.243
fval2 = 6.78e-5

In [48]:
3 / 2

1.5

In [49]:
3 // 2 # 나눗셈 몫

1

In [50]:
# 복소수
cval = 1 + 2j 
cval * (1 - 2j)

(5+0j)

### 문자열

In [51]:
a = 'one way of writing a string'
b = "another way"
print(a)
print(b)

one way of writing a string
another way

In [52]:
c = """
This is a longer string that
spans multiple lines
"""
print(c)

This is a longer string that
spans multiple lines

In [53]:
a = 'this is a string'
a[10] = f # 문자열은 이뮤터블 객체. 에러가 난다.

TypeError: 'str' object does not support item assignment

In [54]:
b = a.replace('string', 'longer strng')
b

'this is a longer strng'

In [55]:
# str 함수를 쓰면 문자열로 변환가능.
a = 5.6
print(a)
s = str(a)
print(s) # 이것은 문자

5.6
5.6

In [56]:
# 문자열은 일련된 글자의 연속. 다른 순차적인 자료형과 같이 취급
s = 'python'
s[:3]

'pyt'

In [57]:
# 두 문자열을 더하면 이 둘을 이어붙인 새로운 문자열을 생성. 
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

In [58]:
# 포맷팅
template = '%.2f %s are worth $%d'
template %(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

### 불리언

In [59]:
True and True

True

In [60]:
False or True

True

In [61]:
bool([]), bool([1,2,3])

(False, True)

In [62]:
bool('Hello world!'), bool('')

(True, False)

In [63]:
bool(0), bool(1)

(False, True)

### 형변환

In [64]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [65]:
int(fval)

3

In [66]:
bool(fval)

True

In [67]:
bool(0)

False

### None

In [68]:
# None은 파이썬에서 사용하는 널(null)값이다. 만약 어떤 함수에서 명시적으로 값을 반환하지 않으면 묵시적으로 None을 반환한다.
# None은 예약어가 아니라 NoneType의 유일한 인스턴스이다.
a = None
a is None

True

In [69]:
b = 5
b is None

False

```python
# None은 함수의 옵션 인자의 기본 값으로 흔히 사용되기도 한다.
def add_and_maybe_multiply(a, b, c=None) :
    result a + b
    
    if c is not None :
        result = result + c
        
    return result
```

### 날짜와 시간

In [73]:
from datetime import datetime, date, time

dt = datetime(2017, 12, 19, 13, 10, 21)
print(dt.day)
print(dt.minute)

19
10

In [74]:
dt.date()

datetime.date(2017, 12, 19)

In [75]:
dt.time()

datetime.time(13, 10, 21)

In [76]:
# datetime 객체를 문자열로 바꿔준다.
dt.strftime('%m/%d/%Y %H:%M')

'12/19/2017 13:10'

In [81]:
# 문자열을 datetime 객체로 바꿔준다.
datetime.strptime('20171219', '%Y%m%d')

datetime.datetime(2017, 12, 19, 0, 0)

In [82]:
# datetime의 특정 필드를 치환
dt.replace(minute=0, second=0)

datetime.datetime(2017, 12, 19, 13, 0)

In [83]:
# 두 datetime 객체의 차이는 datetime.timedelta 객체를 반환
dt2 = datetime(2017, 12, 19, 22, 30)

delta = dt2 - dt
delta

datetime.timedelta(0, 33579)

In [84]:
dt

datetime.datetime(2017, 12, 19, 13, 10, 21)

In [85]:
# datetime 객체에 timedelta 객체를 더하면 그 만큼 시간이 지연된 datetime 객체를 얻는다.
dt + delta

datetime.datetime(2017, 12, 19, 22, 30)

## 흐름 제어

* if, elif, else
* for 반복문
* while 반복문
* pass
* 예외 처리
* range와 xrange
* 삼단 표현

### if, elif, else

In [89]:
x = 3

if x < 0 :
    print("It's nagative")
    
    
if x < 0 : 
    print('a')
elif x == 0 :
    print('b')
elif 0 < x < 5 :
    print('c')
else :
    print('d')

c

### for 반복문

```python
for value in collection : 
    # value를 사용하는 코드
```

In [90]:
sequence = [1, 2, None, 4, None, 5]

total = 0
for value in sequence :
    if value is None :
        continue
    total += value
    
print(value)

5

### while 반복문

In [91]:
x = 256

total = 0

while x > 0 :
    if total > 500 :
        break
    total += x
    x = x // 2

print(x)

4

### pass

In [92]:
# pass는 파이썬의 아무것도 하지 않음을 나타냄

x = 0

if x < 0 :
    print('negative!')
elif x == 0 :
    # TODO : 나중에 뭔가 추가해야 함
    pass
else :
    print('positive!')

### 예외 처리

In [93]:
float('1.2345')

1.2345

In [94]:
float('something')

ValueError: could not convert string to float: 'something'

In [95]:
def attempt_float(x) :
    try :
        return float(x)
    except :
        return x

In [96]:
attempt_float('1.2345')

1.2345

In [97]:
attempt_float('something')

'something'

### range

In [98]:
range(10)

range(0, 10)

In [99]:
range(0, 20, 2)

range(0, 20, 2)

In [100]:
seq = [1, 2, 3, 4]
for i in range(len(seq)) :
    val = seq[i]
    print(val)

1
2
3
4

### 삼단 표현

```python
# if-else 블록을 한 줄로 표현 가능
value = true-expr if condition else false-expr
```

```python
# 위 코드는 다음과 동일
if condtion :
    value = true-expr
else :
    value = false-expr
```

In [102]:
x = 5

'Non-negative' if x >=0 else 'Negative'

'Non-negative'

# 자료 구조와 순차 자료형

* 튜플
* 리스트
* 내장 순차 자료형 함수
* 사전
* 세트
* 리스트 내포, 사전 내포, 세트 내포

## 튜플

1차원, 고정된 크기를 가지는 변경 불가능한 순차 자료형. ,로 구분되는 개별 원소의 열 혹은 괄호 ()나 tup 함수로 생성.

* 튜플 기초
* 튜플에서 값 분리하기
* 튜플 메서드

### 튜플 기초

In [103]:
tup = 4, 5, 6  # 혹은 tup = (4, 5, 6)
tup

(4, 5, 6)

In [104]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [105]:
# 모든 순차자료형이나 이터레이터는 tuple 메서드를 통해 튜플로 변환될 수 있다.
tuple([4, 0, 2])

(4, 0, 2)

In [106]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [107]:
# []로 개별 원소 접근
tup[0]

's'

In [108]:
# 한번 생성되면 변경 불가능
tup = tuple(['foo', [1,2], True])
tup[2] = False  # 에러 난다.

TypeError: 'tuple' object does not support item assignment

In [109]:
# 하지만 다음은 가능하다 (튜플의 원소들이 각 객체의 참조이므로 가능한 것)
print(tup)
print(tup[1])

tup[1].append(3)  # 2번째 원소는 리스트. 리스트의 내장함수 append는, 해당 리스트의 뒤에 값을 추가하는 기능을 가지고 있다.
tup

('foo', [1, 2], True)
[1, 2]

('foo', [1, 2, 3], True)

In [110]:
# + 연산
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [111]:
# * 연산
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

###  튜플에서 값 분리하기

In [112]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [113]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [120]:
print(a, b)
tmp = a
a = b
b = tmp
print(a, b)

4 5
5 4

In [121]:
print(a, b)
b, a = a, b
print(a, b)

5 4
4 5

In [123]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8,9)]
for a, b, c in seq :
    print(a, b, c)

1 2 3
4 5 6
7 8 9

### 튜플 메서드

In [124]:
# count 메서드
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## 리스트

튜플과 달리, 리스트는 크기나 내용의 변경이 가능. 대괄호 []나 list 함수를 사용해서 생성

* 리스트 생성
* 원소 추가하고 삭제하기
* 리스트 이어붙이기
* 정렬
* 이진 탐색과 정렬된 리스트 유지하기
* 슬라이싱

### 리스트 생성

In [125]:
a_list = [2, 3, 7, None]
print(a_list)

tup = ('foo', 'bar', 'baz')
print(tup)

b_list = list(tup)
print(b_list)

b_list[1] = 'peekaboo'
print(b_list)

[2, 3, 7, None]
('foo', 'bar', 'baz')
['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

### 원소 추가하고 삭제하기

In [126]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [127]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [128]:
b_list.pop(2)

'peekaboo'

In [129]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [130]:
b_list.append('foo')
print(b_list)

b_list.remove('foo')
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [131]:
# in 예약어
'dwarf' in b_list

True

### 리스트 이어붙이기

In [132]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [133]:
x = [4, None, 'foo']
print(x)

x.extend([7, 8, (2, 3)])
print(x)

[4, None, 'foo']
[4, None, 'foo', 7, 8, (2, 3)]

```python
# 이어붙이기보다 extend가 더 빠르다

# 이 코드가 더 빠르다
everything = []
for chunk in list_of_lists :
    everything.extend(chunk)
    
# 이 코드는 느리다
everything = []
for chunk in list_of_lists :
    everything =  everything + chunk
```

### 정렬

In [35]:
a = [7, 2, 5, 1, 3]
print(a)

a.sort()
print(a)

[7, 2, 5, 1, 3]
[1, 2, 3, 5, 7]

In [36]:
b = ['saw', 'small', 'He', 'foxes', 'six']
print(b)

b.sort(key=len)
print(b)

['saw', 'small', 'He', 'foxes', 'six']
['He', 'saw', 'six', 'small', 'foxes']

### 이진 탐색과 정렬된 리스트 유지하기

In [135]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

# bisect 메서드는 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환한다.
bisect.bisect(c, 2)

4

In [136]:
bisect.bisect(c, 5)

6

In [137]:
# insort 메서드는 실제로 정렬된 상태를 유지한 채 값을 추가한다.
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

### 슬라이싱

In [138]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [139]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [140]:
seq[:5]

[7, 2, 3, 6, 3]

In [141]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [142]:
seq[-4:]

[5, 6, 0, 1]

In [143]:
seq[-6:-2]

[6, 3, 5, 6]

In [144]:
seq[::2]

[7, 3, 3, 6, 1]

In [145]:
seq[::-1]  # 역순으로

[1, 0, 6, 5, 3, 6, 3, 2, 7]

<img src='./01_figures/01_fig.a.2.png'/>

## 내장 순차 자료형 함수

파이썬은 순차 자료형에 사용할 수 있는 매우 유용한 함수들을 제공한다.

* enumerate
* sorted
* zip
* reversed

### enumerate

```python
# 순차 자료형에서 현재 아이템의 색인을 함께 처리하고자 할 때 흔히 사용된다.

# 이 코드가
i = 0
for value in collection :
    # value를 가지고 무언가 한다
    i += 1
    
#  enumerate를 사용하면
for i, value in enumerate(collection) :
    # value를 가지고 무언가 한다    
    
```

In [2]:
some_list = ['foo', 'bar', 'baz']

mapping = dict((v, i) for i, v in enumerate(some_list))

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### sorted

In [4]:
# sorted 함수는 정렬된 새로운 순차 자료형을 반환한다.

sorted([7, 1, 2, 6, 0, 3, 10, 5, 2])

[0, 1, 2, 2, 3, 5, 6, 7, 10]

In [5]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [149]:
# 정렬과 중복제거
sorted(set('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']

### zip

In [9]:
# zip 함수는 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성한다.

seq1 = ['foo', 'bar', 'baz',"name"]
seq2 = ['one', 'two', 'three',"Krish"]

zip(seq1, seq2)

In [10]:
for e in zip(seq1, seq2) :
    print(e)

('foo', 'one')
('bar', 'two')
('baz', 'three')
('name', 'Krish')

In [11]:
# zip 함수가 여러 개의 순차 자료형을 받을 수 있다면 반환되는 리스트의 크기는 넘겨 받은 순차 자료형 중에 가장 짧다.
seq3 = [False, True]

for e in zip(seq1, seq2, seq3) :
    print(e)

('foo', 'one', False)
('bar', 'two', True)

In [12]:
# enumerate와 함께 사용되기도 한다.
for i, (a, b) in enumerate(zip(seq1, seq2)) :
    print('%d:\t %s, %s' %(i, a, b))

0:	 foo, one
1:	 bar, two
2:	 baz, three
3:	 name, Krish

In [14]:
# zip 함수를 사용해서 짝지어진 순차 자료형을 다시 풀어낼 수 있다.
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)

print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

### reversed

In [155]:
# reversed는 순차 자료형을 역순으로 순회한다.
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 사전

dict(사전)은 유연한 크기를 가지는 키-밸류 쌍이다.<br> 
일반적으로 해시맵 또는 연관 배열이라고 알려져 있다.<br>
중괄호 {}를 사용해, 콜론 :로 구분되는 키와 값을 둘러싸서 생성한다.

* 사전 기초
* 순차 자료 구조에서 사전 생성하기
* 기본 값
* 유효한 사전 키

### 사전 기초

In [16]:
empty_dict = {}

d1 = {'a' : 'some value', 'b' : [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [17]:
d1[7] = 'an ingeger'  # 7이란 키가 없으면 생성해서 넣는다. dict[key]=value
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an ingeger'}

In [158]:
d1['b']

[1, 2, 3, 4]

In [18]:
# 사전에 어떤 키가 있는지 확인 Only Key will searched
'b' in d1

True

In [23]:
# 삭제 - del 혹은 pop
d1[5] = 'some value'
d1['dummy'] = 'another value'
print(d1)

print("#"*100+"\n")
del d1[5]
print(d1)

print("#"*100+"\n")
ret = d1.pop('dummy')
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an ingeger', 5: 'some value', 'dummy': 'another value'}
####################################################################################################

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an ingeger', 'dummy': 'another value'}
####################################################################################################

another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an ingeger'}

In [161]:
# 키만 얻기
d1.keys()

dict_keys(['b', 'a', 7])

In [162]:
# 값만 얻기
d1.values()

dict_values([[1, 2, 3, 4], 'some value', 'an ingeger'])

In [163]:
for v in d1.values() :
    print(v)

[1, 2, 3, 4]
some value
an ingeger

In [164]:
# 사전들 합치기

print(d1)

d1.update({'b' : 'foo', 'c': 12})

print(d1)

{'b': [1, 2, 3, 4], 'a': 'some value', 7: 'an ingeger'}
{7: 'an ingeger', 'b': 'foo', 'a': 'some value', 'c': 12}

### 순차 자료 구조에서 사전 생성하기

```python
# 이런 방식을 많이 쓴다
mapping = {}
for key, value in zip(key_list, value_list) :
    mapping[key] = value
```

In [166]:
# 이것이 더 편하다
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### 기본 값

```python
# 일반적 로직
if key in some_dict :
    value = some_dict[key]
else :
    value = default_value
```

```python
# get 또는 pop을 쓰면 편하다.

value = some_dict.get(key, default_value)

# or
value = some_dict.pop(key, default_value)
```

In [167]:
# 보통 사전의 값(value)로 list 같은 다른 컬렉션 값을 많이 이용한다.

words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}

for word in words :
    letter = word[0]
    if letter not in by_letter :
        by_letter[letter] = [word]
    else :
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [168]:
# setdefault 메서드를 사용하면 value의 기본자료형을 설정하므로, 위의 코드를 더 줄일 수 있다.
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}

for word in words :
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [169]:
# 내장 collections 모듈의 defaultdict 클래스를 사용하면 더 쉽다.
from collections import defaultdict

words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = defaultdict(list)
for word in words :
    by_letter[word[0]].append(word)
    
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [170]:
# defaultdict의 초기화는 호출 가능한(함수 같은) 객체도 사용할 수 있다.

counts = defaultdict(lambda: 4) # lambda 함수로 기본값 4를 셋팅
print(counts)

counts['a']
print(counts)

counts['b']
print(counts)

counts['a'] = 7
print(counts)

defaultdict(<function <lambda> at 0x7fdc9817dbf8>, {})
defaultdict(<function <lambda> at 0x7fdc9817dbf8>, {'a': 4})
defaultdict(<function <lambda> at 0x7fdc9817dbf8>, {'b': 4, 'a': 4})
defaultdict(<function <lambda> at 0x7fdc9817dbf8>, {'b': 4, 'a': 7})

### 유효한 사전 키

사전의 키는 이뮤터블 객체만 가능하다(스칼라형, 튜플-튜플안에 저장된 것들이 이뮤터블이어야 함- 등)<br>
값은 어떤 파이썬 객체라도 사용가능하다.

In [33]:
# 키 유효성 검사

hash('string')

-561804305341852151

In [34]:
hash((1,2,(2,3)))

1097636502276347782

In [39]:
hash((1,2,[2,3])) # 튜플 안의 리스트는 값이 바뀔 수 있으므로 에러

TypeError: unhashable type: 'list'

In [40]:
# 리스트를 키로 사용하려면 튜플로 변경하면 된다.
d = {}

d[tuple([1,2,3])] = 5
d

{(1, 2, 3): 5}

## 세트(집합)

세트(집합)는 유일한 원소만 담는 정렬되지 않은 자료형이다. set 함수나 중괄호 {}를 사용해 생성한다.

In [41]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [42]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [43]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

# 합집합 (or)
print(a)
print(b)
print(a | b)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
# 교집합 (and)
print(a)
print(b)
print(a & b)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [179]:
# 차집합
print(a)
print(b)
print(a - b)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}
{1, 2}

In [180]:
# 대칭차집합 (xor)
print(a)
print(b)
print(a ^ b)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}
{1, 2, 6, 7, 8}

In [102]:
# 부분집합 & 확대집합 검사
a_set = {1, 2, 3, 4, 5}

print {1, 2, 3}.issubset(a_set)
print {1, 2, 3}.issuperset(a_set)

True
False

In [103]:
# 내용 같은지 검사
{1, 2, 3} == {3, 2, 1}

True

## 리스트 내포, 사전 내포, 세트 내포

간결한 표현으로 새로운 리스트를 만들 수 있다.

* 리스트 내포, 사전 내포, 세트 내포 기초
* 중첩된 리스트 내포

### 리스트 내포 기초 LIST COMPREHENSIVE

```python
# 기본 형태는 다음과 같다
[expr for val in collection if condtion]

# 위의 코드는 다음 반복문과 같다
result = []
for val in collection :
    if condition :
        result.append(expr)
```

In [181]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

lst = [x.upper() for x in strings if len(x) > 2]
lst

['BAT', 'CAR', 'DOVE', 'PYTHON']

```python
# 사전에 대해서는 이런 형태로
dict_comp = {key-expr : value-expr for value in collection if condition}
```

In [182]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

```python
#  세트에 대해서는 이런 형태로
set_comp = { expr for value in collection if condtion}
```

In [183]:
unique_length = {len(x) for x in strings}
unique_length

{1, 2, 3, 4, 6}

### 중첩된 리스트 내포

In [46]:
# 몇몇 파일에서 이 이름을 읽어와서 남자와 여자의 이름을 따로 저장했으며
# 각 이름에서 e가 2개 이상 포함된 이름의 리스트를 구한다고 가정하자.
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stehanie']]

In [185]:
# 일반적인 형태
names_of_interest = []
for names in all_data :
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stehanie']

In [53]:
# 중첩된 리스트 내포를 이용
result = [result for names in all_data for result in names
          if result.count('e')>=2]  #first names for first list and result for second loop 
result

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stehanie']

In [55]:
# 숫자 튜플이 담긴 리스트를 단순 리스트로 변환하는 예제
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]

In [188]:
# 일반적인 for문
flattend = []
for tup in some_tuples :
    for x in tup :
        flattend.append(x)
        
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
# 중첩된 리스트 내포
flattened = [x for tup in some_tuples for x in tup]  #x i final output return tup in first loop and tup is second loop
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 함수

* 네임스페이스, 스코프, 지역 함수
* 여러 값 반환하기
* 함수도 객체다
* 익명 함수
* 클로저 : 함수를 반환하는 함수
* \*args와  \*\*kwargs를 사용해서 호출 문법 확장하기  
* 커링 : 일부 인자만 취하기
* 제너레이터

```python
def my_function(x, y, z=1.5) :
    if z > 1 :
        return z * (x + y)
    else :
        return z / (x + y)
    
# return문이 몇 개가 되든 상관없다. 
# 함수 블록이 끝날 때까지 return문이 없다면 None이 반환된다.   
```

## 네임스페이스, 스코프, 지역 함수

```python
# 로컬
def func() :
    a = []  # <- local
    for i in range(5) :
        a.append(i)
```

```python
# 전역 
a = []
def func() :
    for i in range(5) :
        a.append(i)
        
func()
a
```

In [191]:
b = None
def bind_b_variable() :
    b = []
    
bind_b_variable()    
print(b)

None

In [192]:
# global 예약어 사용
b = None
def bind_b_variable() :
    global b
    b = []

bind_b_variable()
print(b)

[]

```python
# 함수 안에서 함수를 선언할 수 있다.
def outer_function(x, y, z) :
    def inner_function(a, b, c) :
        pass
    pass
```

## 여러 값 반환하기

In [57]:
def f() :
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()  #f() will return 3 value and a ,b , c will get each one
print(a, b, c)

5 6 7

In [194]:
return_value = f()
return_value # 여래 개의 값을 하나의 변수에 반환받으면, 그 변수는 튜플 자료형이 된다.

(5, 6, 7)

## 함수도 객체다

In [60]:
states = [ '  Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 
          'south carolin##', 'West virginaia?']

### 문자열을 변형하기 위해 함수를 사용하는 일반적인 패턴

In [63]:
import re 

def clean_strings(strings) :
    result = []
    for value in strings :
        value = value.strip()
        pattern = '[!#?]'  #Pattern to remove 
        sub = ""   # Value replaced
        value = re.sub(pattern,sub, value) # 문장 부호 제거
        value = value.title()
        result.append(value)
    return result

In [64]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolin',
 'West Virginaia']

### 함수를 객체화하고 인자로 넘겨서 좀 더 유연하게 사용하는 패턴

In [65]:
def remove_punctuation(value) :
    return re.sub('[!#?]', '', value)

# 함수도 객체. 
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops) :
    result = []
    for value in strings :
        for function in ops :
            value = function(value) 
        result.append(value)
    return result

In [66]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolin',
 'West Virginaia']

In [200]:
# map을 이용해본다. 어떤 컬렉션에 대해 함수를 적용하는 함수다. 
# 이를 이용해서 함수를 인자로 사용할 수 있다.
map(remove_punctuation, states)

In [201]:
for e in map(remove_punctuation, states) :
    print(e)

  Alabama
Georgia
Georgia
georgia
FlOrIda
south carolin
West virginaia

## 익명 함수

```python
def short_function(x) :
    return x * 2

# 위의 함수와 동치인 익명 함수(람다 함수)
equiv_anon = lambda x: x * 2
```

In [203]:
# 각 문자열에서 다양한 문자가 포함된 순서로 정렬하는 예제
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## 클로저 : 함수를 반환하는 함수

In [ ]:
# 클로저는 다른 함수에서 반환되는, 동적으로 생성된 함수다. 
# 핵심은 반환되는 함수는 그 함수가 생성된 시점의 
# 지역 네임스페이스의 변수에 접근할 수 있다는 점이다.

In [67]:
def make_closure(a) :
    def closure() :
        print("I know the secret: %d", a)
    return closure

closure = make_closure(5)
closure()
closure() # 클로저를 생성하는 함수가 끝나더라도 생성된 시점의 네임스페이스에 여전히 접근할 수 있다.

I know the secret: %d 5
I know the secret: %d 5

In [205]:
# 클로져가 변경 가능한 객체를 가질 수도 있다.
def make_watcher() :
    have_seen = {}
    
    def has_been_seen(x) :
        if x in have_seen :
            return True
        else :
            have_seen[x] = True
            return False
        
    return has_been_seen

In [206]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

## \*args와  \*\*kwargs를 사용해서 호출 문법 확장하기

```python
# 파이썬에서 함수 인자가 동작하는 방식은, 
# 만약 func(a, b, c, d=some, e= value) 라고 코드를 작성하면
# 일반 인자와 키워드 인자는 
# 각각 튜플 args와
# 사전 kwargs에 저장된다.
# 내부적으로 다음과 같은 과정을 거친다
a, b, c = args
d = kwargs.get('d', d_default_value)
e = kwargs.get('e', e_defaulT_value)
```

In [207]:
# 예제
def say_hello_then_call_f(f, *args, **kwargs) :
    print('args is', args)
    print('kwargs is', kwargs)
    print("Hello! Now I'm going to call %s" %(f))
    return f(*args, **kwargs)

def g(x, y, z=1) :
    return (x+y)/z

say_hello_then_call_f(g, 1, 2, z=5.)

args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x7fdc98151ae8>

0.6

## 커링 : 일부 인자만 취하기

In [208]:
# 함수에서 일부 인자를 고정해 새로운 함수를 만드는 기법을 커링이라고 한다.

def add_numbers(x, y) :
    return x + y

# 여기서 add_numbers의 두 번째 인자가 '커리되었다'라고 한다.
add_five = lambda y: add_numbers(5, y) 


# 다음 방식으로 더 단순하게 만들 수 있다.
from functools import partial
add_five = partial(add_numbers, 5)

## 제너레이터

* 이터레이터 프로토콜
* 제너레이터
* 제너레이터 표현식
* itertoos 모듈

### 이터레이터 프로토콜

In [209]:
# 파이썬은 리스트 내의 객체나 파일의 각 행 같은 순차적인 자료를 순회하는 일관적인 방법을 제공한다.
# 이터레이터 프로토콜을 이용해서 순회가 가능한 객체를 만들 수 있다.

some_dict = {'a':1, 'b':2, 'c':3}
 
# for key in some_dict 라고 작성하면 
# 파이썬 인터프리터는 some_dict에서 이터레이터를 생성한다.    
for key in some_dict :
    print(key)

b
a
c

In [210]:
# 위와 같은 상황
dict_iterator = iter(some_dict)
dict_iterator

In [211]:
list(dict_iterator)

['b', 'a', 'c']

### 제너레이터

In [68]:
# 제너레이터는 순회가 가능한 객체를 생성하는 간단한 방법이다.
# 일반 함수는 실행되면 단일 값을 반환하지만
# 제너레이터는 순차적인 값을 매 요청 시마다 하나씩 반환한다.
# 제너레이터를 생성하려면 함수에서 return 대신에 yeild 예약어를 사용한다.
def squares(n=10) :
    print('Generating squares from 1 to %d' %(n ** 2))
    for i in range(1, n+1) :
        yield i ** 2

In [69]:
gen = squares()
gen

In [70]:
for x in gen :
    print(x)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

### 제너레이터 표현식

In [223]:
# 제너레이터를 만드는 간단한 방법은 제너레이터 표현식을 사용하는 것이다.
gen = (x ** 2 for x in range(100))
gen

In [71]:
# 위의 코드는 다음 코드와 동일하다
def _make_gen() :
    for x in range(100) :
        yield x ** 2
        
gen = _make_gen()
gen

In [226]:
# 예제
max(x ** 2 for x in range(100))

9801

In [227]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools 모듈

In [228]:
# 일반 데이터 알고리즘을 위한 제너레이터를 포함
import itertools

# 예를 들어 groupby는 순차 자료 구조와 함수를 인자로 받아,
# 인자로 받은 함수에서 반환하는 값에 따라 그룹을 지어준다.
first_letter = lambda x : x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter) :
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

# 클래스

In [229]:
# 클래스를 하나 만들기 위해 특정 객체의 하위 클래스를 만들 수 있습니다.
class Human(object):

    # 클래스 속성은 이 클래스의 모든 인스턴스에서 공유합니다.
    species = "H. sapiens"

    # 기본 초기화자
    def __init__(self, name):
        # 인자를 인스턴스의 name 속성에 할당합니다.
        self.name = name

    # 모든 인스턴스 메서드에서는 self를 첫 번째 인자로 받습니다.
    def say(self, msg):
       return "%s: %s" % (self.name, msg)

    # 클래스 메서드는 모든 인스턴스에서 공유합니다.
    # 클래스 메서드는 호출하는 클래스를 첫 번째 인자로 호출됩니다.
    @classmethod
    def get_species(cls):
        return cls.species

    # 정적 메서드는 클래스나 인스턴스 참조 없이도 호출할 수 있습니다.
    @staticmethod
    def grunt():
        return "*grunt*"

In [231]:
# 클래스 인스턴스화
i = Human(name="Ian")
print(i.say("hi"))

Ian: hi

In [232]:
j = Human("Joel")
print(j.say("hello"))

Joel: hello

In [233]:
# 클래스 메서드를 호출
i.get_species()

'H. sapiens'

In [235]:
# 공유 속성을 변경
Human.species = "H. neanderthalensis"
print(i.get_species()) 
print(j.get_species())

H. neanderthalensis
H. neanderthalensis

In [236]:
# 정적 메서드를 호출
Human.grunt()

'*grunt*'

In [237]:
class HousePark:
    lastname = "박"
    def __init__(self, name):
        self.fullname = self.lastname + name
    def travel(self, where):
        print("%s, %s여행을 가다." % (self.fullname, where))
    def love(self, other):
        print("%s, %s 사랑에 빠졌네" % (self.fullname, other.fullname))
    def fight(self, other):
        print("%s, %s 싸우네" % (self.fullname, other.fullname))
    def __add__(self, other):
        print("%s, %s 결혼했네" % (self.fullname, other.fullname))
    def __sub__(self, other):
        print("%s, %s 이혼했네" % (self.fullname, other.fullname))
    def __del__(self):
        print("%s 죽네" % self.fullname)

class HouseKim(HousePark):
    lastname = "김"
    def travel(self, where, day):
        print("%s, %s여행 %d일 가네." % (self.fullname, where, day))

In [238]:
pey = HousePark("응용")
juliet = HouseKim("줄리엣")
# 아이파이썬 노트북의 실행 셀에서 먼저 객체가 생성되고 소멸되면서 소멸자 호출되어 출력된 것임.

In [240]:
pey.travel("부산")
juliet.travel("부산", 3)
pey.love(juliet)
pey + juliet
pey.fight(juliet)
pey - juliet

박응용, 부산여행을 가다.
김줄리엣, 부산여행 3일 가네.
박응용, 김줄리엣 사랑에 빠졌네
박응용, 김줄리엣 결혼했네
박응용, 김줄리엣 싸우네
박응용, 김줄리엣 이혼했네

# 함수형 프로그래밍

* map
* filter
* reduce

## map

map이라는 것은 함수와 시퀀스 자료형(리스트, 터플, 문자열)을 입력으로 받아서 시퀀스 자료형의 각각의 요소가 함수의 입력으로 들어간 다음 나오는 출력값을 묶어서 리스트로 돌려주는 함수이다.

In [253]:
def f(x) :
    return x*x

x = [1, 2, 3, 4, 5]
y = map(f, x)

print(x)
print(list(y))

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

<img src='./01_figures/01_fig.10.7.png'/>

In [244]:
# 위의 코드는 다음과 같다
y = []
for e in x :
    ne = f(e)
    y.append(ne)

print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [252]:
# 람다 함수 이용
y = map(lambda a:a*a, x)
print(x)
print(list(y))

range(0, 10)
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [251]:
x = range(10)
y = map(lambda a: a*a+4*a, x)
print(x)
print(list(y))

range(0, 10)
[0, 5, 12, 21, 32, 45, 60, 77, 96, 117]

In [250]:
# 두 개 이상 입력
x = [1,2,3,4,5]
y = [6,7,8,9,10]
z = map(lambda a, b:a+b, x, y)
print(x)
print(y)
print(list(z))

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[7, 9, 11, 13, 15]

<img src='./01_figures/01_fig.10.8.png'/>

## filter

filter는 함수와 시퀀스 자료형을 입력으로 받아서 자료의 값이 하나씩 함수의 인수로 전달될 때, 참을 반환시키는 값만을 따로 모아서 리스트의 형태로 반환하는 함수이다. filter의 뜻은 무엇인가를 걸러낸다는 뜻이다. 이 의미가 filter 함수에서도 그대로 사용된다.

In [255]:
def positive(x): 
    return x > 0

list(filter(positive, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [256]:
# 위의 코드는 다음과 같다
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result

positive([1,-3,2,0,-5,6])

[1, 2, 6]

In [258]:
# 람다 함수 사용
list(filter(lambda x : x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [259]:
list(filter(lambda x : x%2, [1,2,3,4,5,6]))

[1, 3, 5]

<img src='./01_figures/01_fig.10.11.png'/>

## reduce

reduce는 첫 인수로 함수를 받는다. 이 함수는 두 개의 인수를 받는다. 두 번째 인자는 시퀀스 자료형이다. 시퀀스의 자료들은 순차적으로 reduce가 받은 함수의 첫 번째 인수, 두 번째 인수로 전달된다. 첫 인수는 함수의 계산 결과가 누적적으로 적용된다. 단, 처음 계산에서는 시퀀스의 두 개의 요소가 함수에 전달된다.

In [261]:
from functools import reduce

In [262]:
# 1부터 5까지 더하기
# 다음 코드는 이 수식과 동일하다. ((((1+2)+3)+4)+5)
reduce(lambda x, y : x+y, [1, 2, 3, 4, 5])

15

<img src='./01_figures/01_fig.10.12.png'/>

In [263]:
# reduce 함수에 세 번재 인수를 부여할 수 있는데, 초기 값으로 사용된다.
# 다음 코드는 이 수식과 동일하다. (((((0+1)+2)+3)+4)+5)
reduce(lambda x, y : x+y, [1, 2, 3, 4, 5], 0)

15

In [264]:
# 각 원소를 제곱해서 모두 더하기
reduce(lambda x, y : x + y*y, range(1,11), 0)

385

In [265]:
# 위의 코드는 다음과 동일하다.
x = 0
for y in range(1, 11) :
    x = x + y*y
    
x

385

## 참고자료 

 * [1] 파이썬 라이브러리를 활용한 데이터 분석 - http://www.hanbit.co.kr/book/look.html?isbn=978-89-6848-047-8
 * [2] python | learn x in y minutes - https://learnxinyminutes.com/docs/python3/
 * [3] 점프 투 파이썬 : 클래스 - https://wikidocs.net/28
 * [5] 점프 투 파이썬 : 내장함수 - https://wikidocs.net/32