# Creating PDF Reports with Pandas, Jinja and WeasyPrint

## Introduction
Pandas is excellent at manipulating large amounts of data and summarizing it in multiple text and visual representations. Without much effort, pandas supports output to CSV, Excel, HTML, json and more. Where things get more difficult is if you want to combine multiple pieces of data into one document. For example, if you want to put two DataFrames on one Excel sheet, you need to use the Excel libraries to manually construct your output. It is certainly possible but not simple. This article will describe one method to combine multiple pieces of information into an HTML template and then converting it to a standalone PDF document using Jinja templates and WeasyPrint.

https://pbpython.com/pdf-reports.html

# The Process
 It is very convenient to use Pandas to output data into multiple sheets in an Excel file or create multiple Excel files from pandas DataFrames. However, if you would like to combine multiple pieces of information into a single file, there are not many simple ways to do it straight from Pandas. Fortunately, the python environment has many options to help us out.

# The Data

In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("./datas/salesfunnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

### Pivot the data to SUmmarize

In [4]:
sales_report = pd.pivot_table(df, index=["Manager", "Rep", "Product"], values=["Price", "Quantity"],
                             aggfunc=[np.sum, np.mean], fill_value=0)
sales_report

                                            sum            mean
                                          Price Quantity  Price Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500      1.0
                            Maintenance    5000        2   5000      2.0
                            Software      10000        1  10000      1.0
              Daniel Hilton CPU          105000        4  52500      2.0
                            Software      10000        1  10000      1.0
              John Smith    CPU           35000        1  35000      1.0
                            Maintenance    5000        2   5000      2.0
Fred Anderson Cedric Moss   CPU           95000        3  47500      1.5
                            Maintenance    5000        1   5000      1.0
                            Software      10000        1  10000      1.0
              Wendy Yule    CPU          165000        7  82500      3.5
                            Maintenance    7000        3   7000      3.0
                            Monitor        5000        2   5000      2.0

Generate some overall descriptive statistics about the entire data set. In this case, we want to show the average quantity and price for CPU and Software sales.

In [8]:
print(df[df["Product"]=="CPU"]["Quantity"].mean()) # Mean of Quantity where Product == CPU
print(df[df["Product"]=="CPU"]["Quantity"].mean())

print(df[df["Product"]=="Software"]["Quantity"].mean())
print(df[df["Product"]=="Software"]["Price"].mean())

1.8888888888888888
1.8888888888888888
1.0
10000.0

## DataFrame Options

In [13]:
#sales_report.to_clipboard()
sales_report.to_html("panda_html.html")  # Will save result to basic HTML format
sales_report.to_markdown()

"|                                                 |   ('sum', 'Price') |   ('sum', 'Quantity') |   ('mean', 'Price') |   ('mean', 'Quantity') |\n|:------------------------------------------------|-------------------:|----------------------:|--------------------:|-----------------------:|\n| ('Debra Henley', 'Craig Booker', 'CPU')         |              65000 |                     2 |               32500 |                    1   |\n| ('Debra Henley', 'Craig Booker', 'Maintenance') |               5000 |                     2 |                5000 |                    2   |\n| ('Debra Henley', 'Craig Booker', 'Software')    |              10000 |                     1 |               10000 |                    1   |\n| ('Debra Henley', 'Daniel Hilton', 'CPU')        |             105000 |                     4 |               52500 |                    2   |\n| ('Debra Henley', 'Daniel Hilton', 'Software')   |              10000 |                     1 |               10000 |                    1   |\n| ('Debra Henley', 'John Smith', 'CPU')           |              35000 |                     1 |               35000 |                    1   |\n| ('Debra Henley', 'John Smith', 'Maintenance')   |               5000 |                     2 |                5000 |                    2   |\n| ('Fred Anderson', 'Cedric Moss', 'CPU')         |              95000 |                     3 |               47500 |                    1.5 |\n| ('Fred Anderson', 'Cedric Moss', 'Maintenance') |               5000 |                     1 |                5000 |                    1   |\n| ('Fred Anderson', 'Cedric Moss', 'Software')    |              10000 |                     1 |               10000 |                    1   |\n| ('Fred Anderson', 'Wendy Yule', 'CPU')          |             165000 |                     7 |               82500 |                    3.5 |\n| ('Fred Anderson', 'Wendy Yule', 'Maintenance')  |               7000 |                     3 |                7000 |                    3   |\n| ('Fred Anderson', 'Wendy Yule', 'Monitor')      |               5000 |                     2 |                5000 |                    2   |"

## Templating

jinja templating is very powerful and supports a lot of advanced features such as sandboxed execution and auto-escaping 
that are not necessary for this application. These capabilities how ever will serve you well as your reports grow more complex or you choose to use jinja for your web apps.
<br>
- Create a template
- Add variables into the templates context
- Render the template into HTML

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Sales Funnel Report - National</h2>
     {{ national_pivot_table }}
</body>
</html>

In [16]:
# The two keys portions of this code are the {{title}} and {{national_pivot_tabel}}
# They are essentially placeholders for variables that we will provide when we render the documnet.

# To Populate those variable, we need to create a jinja environment and get our template:
from jinja2 import Environment, FileSystemLoader

In [ ]:
# https://pbpython.com/pdf-reports.html